@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
  --background: 0 0% 100%;
  --foreground: 0 0% 8.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 8.6%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 8.6%;
  --primary: 0 0% 1.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 264.53 0.58% 95%;
  --secondary-foreground: 0 0% 1.2%;
  --muted: 0 0% 92.6%;
  --muted-foreground: 0 0% 44.7%;
  --accent: 0 0% 93.3%;
  --accent-foreground: 0 0% 1.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 0% / 10%;
  --input: transparent;
  --input-background: 0 0% 95.3%;
  --switch-background: 0 0% 79.6%;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: 0 0% 44.3%;
  --chart-1: 41.116 0.222 64.6%;
  --chart-2: 184.704 0.118 60%;
  --chart-3: 227.392 0.07 39.8%;
  --chart-4: 84.429 0.189 82.8%;
  --chart-5: 70.08 0.188 76.9%;
  --radius: 0.625rem;
  --sidebar: 0 0% 98.5%;
  --sidebar-foreground: 0 0% 8.6%;
  --sidebar-primary: 0 0% 1.2%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 97%;
  --sidebar-accent-foreground: 0 0% 20.5%;
  --sidebar-border: 0 0% 92.2%;
  --sidebar-ring: 0 0% 44.3%;
}

.dark {
  --background: 0 0% 8.6%;
  --foreground: 0 0% 98.5%;
  --card: 0 0% 8.6%;
  --card-foreground: 0 0% 98.5%;
  --popover: 0 0% 8.6%;
  --popover-foreground: 0 0% 98.5%;
  --primary: 0 0% 98.5%;
  --primary-foreground: 0 0% 20.5%;
  --secondary: 0 0% 26.9%;
  --secondary-foreground: 0 0% 98.5%;
  --muted: 0 0% 26.9%;
  --muted-foreground: 0 0% 44.3%;
  --accent: 0 0% 26.9%;
  --accent-foreground: 0 0% 98.5%;
  --destructive: 25.723 0.141 39.6%;
  --destructive-foreground: 25.331 0.237 63.7%;
  --border: 0 0% 26.9%;
  --input: 0 0% 26.9%;
  --ring: 0 0% 43.9%;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: 264.376 0.243 48.8%;
  --chart-2: 162.48 0.17 69.6%;
  --chart-3: 70.08 0.188 76.9%;
  --chart-4: 303.9 0.265 62.7%;
  --chart-5: 16.439 0.246 64.5%;
  --sidebar: 0 0% 20.5%;
  --sidebar-foreground: 0 0% 98.5%;
  --sidebar-primary: 264.376 0.243 48.8%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 26.9%;
  --sidebar-accent-foreground: 0 0% 98.5%;
  --sidebar-border: 0 0% 26.9%;
  --sidebar-ring: 0 0% 43.9%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      @apply text-2xl font-medium leading-6;
    }

    h2 {
      @apply text-xl font-medium leading-6;
    }

    h3 {
      @apply text-lg font-medium leading-6;
    }

    h4 {
      @apply text-base font-medium leading-6;
    }

    p {
      @apply text-base font-normal leading-6;
    }

    label {
      @apply text-base font-medium leading-6;
    }

    button {
      @apply text-base font-medium leading-6;
    }

    input {
      @apply text-base font-normal leading-6;
    }
  }
}

html {
  font-size: var(--font-size);
}
